// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.top-20{
    margin-top: 20px;
}
.top-30{
    margin-top: 30px;
}
.top-40{
    margin-top: 40px;
}
.top-50{
    margin-top: 50px;
}
.top-60{
    margin-top: 60px;
}
.top-70{
    margin-top: 70px;
}
.top-80{
    margin-top: 80px;
}
.top-90{
    margin-top: 90px;
}
.top-100{
    margin-top: 100px;
}
.top-porcent-10{
    margin-top: 10%;
}
.top-porcent-20{
    margin-top: 20%;
}
.top-porcent-30{
    margin-top: 30%;
}
.top-porcent-40{
    margin-top: 40%;
}
.top-porcent-50{
    margin-top: 50%;
}
.top-porcent-60{
    margin-top: 60%;
}
.top-porcent-70{
    margin-top: 70%;
}
.top-porcent-80{
    margin-top: 80%;
}
.top-porcent-90{
    margin-top: 90%;
}
.top-porcent-100{
    margin-top: 100%;
}
.ts-icon{
    font-size: 30px;
}
.ts-text{
    color: white;
    text-decoration: none; 
    vertical-align: middle;  
}

.input-hide{       
    width: 100%;
    padding: 10px;     
    border: solid;
    border-width: 1px;
    border-radius: 3px;  
    margin-bottom: -12px; 
}        
.padding-content{
    padding: 10px;
}   
.btn-login{
    background-color: #1ABC9C;
    padding: 10px;
    width: 100%;
    color: white;
}
.container-centered{
    margin-top: 15%;
}
.icons-login{
    font-size: 30px !important;
    color: white;
}
.color-white{
    color: white !important;
}
.color-orange{
    color: orange !important;
}
.form-width{
    width: 90%;
}
.fondo-app{
    background-color: #F5F5F5;
    height: 100%;
    overflow: scroll
}

.fondo-app::-webkit-scrollbar {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
  }
   
.fondo-app::-webkit-scrollbar-track {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
}
   
.fondo-app::-webkit-scrollbar-thumb {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
}
.toolbar-background{
    background-color: rgb(26, 188, 156);
    width: 100%;    
}
.icon-back{
    font-size: 40px !important;
}
.message-validation{
    margin-top: 20px;
    background-color: orange;
}
.map{
    width: 100%;
    height: 150px !important;
}
.box-content{
    background-color: white;
    width: 80%;
    padding: 20px;
    margin-bottom: 30px;
}
.box-white{
    background-color: white;
}
.toolbar-ios ion-title{
    padding: unset !important;
    margin-left: -10px !important;
    width: 100% !important;
    color: white !important;
}
.vertical-middle{
    vertical-align: middle;
}
.icon-perfil{
    font-size: 40px !important;
    color: rgb(255, 255, 255);
}
.box-menu{
    background-color: rgb(26, 188, 156);
    padding-top: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 100px;
    border-radius: 5px;
}
.box-menu:active{
    background-color: #757575 !important;     
    color: white;    
}
.span-title-menu{
    margin: 0px;
    margin-top: 10px;
    font-size: 15px;
}
.box-count-notitify{
    position: absolute;
    font-size: 12px;
    background-color: red;
    padding: 6px;
    border-radius: 18px;
    width: 25px;
    height: 25px;
    margin-top: -14px;
    margin-left: -8px;
}
.box-image-perfil{
    width: 120px;
    height: 120px;
    border: solid;
    overflow: hidden;
    border-radius: 72px;
    border-color: rgb(226, 226, 226);
    border-width: 4px;
    padding: 0px;
}
.box-image-perfil-menu{
    width: 44px !important;
    height: 44px !important;
    border: none;
    overflow: hidden;
    border-radius: 72px;
    border-color: rgb(226, 226, 226);
    border-width: 4px;
    padding: 0px;
}
.toolbar-title-md{
    color: white !important;
} 
.title-menubar .toolbar-title-md{
    font-size: 15px !important;    
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white !important;
}
.scroll-content{
    background-color: rgb(245, 245, 245);
    overflow-y:hidden;
}
.subtitle-menubar{
    text-align: left;
    background-color: rgb(26, 188, 156);
    color: white;
}
.subtitle-menubar:active{    
    background-color: #757575;
}
.icon-menubar{
    font-size: 20px !important;
    padding-right: 10px;
}
ion-footer .toolbar-title-md{
    font-size: 17px !important;  
    text-align: center; 
}
.toolbar-title-ios{
    color: white;
    font-size: 17px;
    margin-top: 15px;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
    color: white !important;
}
.menu-footer{
    color: white;
    font-size: 28px !important;
}
.border-icon-left{
    border-left: solid;
    border-color: white;
}
.icon-menu-down{
    font-size: 35px !important;
    color: rgb(26, 188, 156) !important;
    position: absolute !important;
    margin-top: -17px !important;
    margin-left: -5% !important;
}
.title-profile-name{
    float: right;
    margin-top: 14px;
    margin-right: 12px;
    font-size: 16px;
}
.item-inner{
    background: none !important;
}
.footer-ios{
    height: 56px;
    background-color: #1abc9c;    
}
.swiper-container{
    height: 177px !important;
    overflow: hidden !important;
}
.box-publications{
    background-color: white;
}
.box-porcentaje-ganga{
    text-align: center;
    background-color: rgb(44, 188, 155);
    padding: 5px;
    margin-bottom: 0px;
    color: white;
}
.title-publication{
    font-size: 12px;
    text-align: center;
}
.titles-app{
    text-align: center;
    color: #1abc9c;
    border-bottom: solid;
    border-color: #1abc9c;
}
.img-content{
    height: 90px;
    overflow: hidden;
}
ion-alert {
    &.alert-warning {
        .alert-head {
            background-color: red;
            color: #fff;
        }
        .alert-message{
            display: none;
        }
        .alert-sub-title{
            color: white;
            margin-bottom: 0px;
        }
    }    
    &.alert-danger {
        .alert-head {
            background-color: orange;
            color: #fff;
        }
        .alert-message{
            display: none;
        }
        .alert-sub-title{
            color: white;
            margin-bottom: 0px;
        }
    }
    &.alert-success {
        .alert-head {
            background-color: rgb(26, 188, 156);
            color: #fff;
        }
        .alert-message{
            display: none;
        }
        .alert-sub-title{
            color: white;
            margin-bottom: 0px;
        }
    } 

}