<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ganga</ion-title>
  </ion-navbar>
</ion-header>
<div class="fondo-app">
  <div style="margin-top: 46px;">
    <ion-slides *ngIf="keys && keys.length" autoplay="5000" loop="true" speed="5000">
      <ion-slide *ngFor="let key of keys">
        <img src="{{url}}{{banner[key].image}}">
      </ion-slide>
    </ion-slides>
  </div>
  <h4 class="titles-app">Productos Destacados</h4>
  <div class="columns" style="margin-bottom:40px;">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let keypublic of keysPublications" col-6>
          <div class="box-publications">
            <div class="img-content">
              <img src="{{url}}{{publications[keypublic].file}}">
            </div>
            <p class="title-publication">{{publications[keypublic].title}}</p>
            <p class="box-porcentaje-ganga">
              <span>{{ publications[keypublic].porcentaje }}</span>% de ganga</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col align="center">
          <i class="fa fa-bell menu-footer" aria-hidden="true"></i>
        </ion-col>
        <ion-col align="center" class="border-icon-left">
          <i class="fa fa-home menu-footer" aria-hidden="true"></i>
        </ion-col>
        <ion-col align="center" class="border-icon-left">
          <i class="fa fa-user menu-footer" aria-hidden="true"></i>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>