<ion-header>
    <ion-navbar>
      <ion-title><span class="fa fa-arrow-left color-white icon-back" (click)="cancel()"></span></ion-title>
    </ion-navbar>
  </ion-header>
<div class="fondo-app">
  <div align="center" class="box-resetPass">
    <div class="div-panel top-porcent-40">
      <h3>Restablecer Contraseña</h3>
      <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit(resetPassForm.value)" class="form-width">
        <div>
          <div class="padding-content">
            <input type="text" placeholder="Email" formControlName="email" class="input-hide">
            <ion-item class="message-validation" *ngIf="resetPassForm.controls.email.hasError('required') && resetPassForm.controls.email.touched">
                <p class="color-white">El campo email es requerido!</p>
            </ion-item>
            <ion-item class="message-validation" *ngIf="resetPassForm.controls.email.hasError('pattern') && resetPassForm.controls.email.touched">
                <p class="color-white">Este email no es valido</p>
              </ion-item>
          </div>          
          <div class="padding-content">
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <button type="submit" [disabled]="!resetPassForm.valid" class="btn-login">Restablecer Contraseña</button>
                </ion-col>                
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>